
//COLORS
$almostWhite: #F7F7F7;
$bluish: #2978A0;
$fieryRose: #FF5666;
$raisinBlack: #2D2D34;
$blackCofee: #3C3744;

//FONTS
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, serif;
